{% extends "model-page.html" %}

{% block content %}
    <div align='center'>
        <br>
        <h3><i class="fas fa-list-alt"></i> Simular : {{casa.nome}}</h3><br>
        <div class="col col-6 col-sm-6 col-md-4 col-lg-5 col-xs-4 container box-gray">
            <br>
            {% if meses %}
            <table class="table table-striped table-dark">
                <thead>
                    <tr align="center">
                        <th colspan="3">Meses registrados</th>
                    </tr>
                    <tr>
                        <td align="center">
                            Mes/Ano
                        </td>
                        <td align="center">
                            Energia
                        </td>
                        <td align="center">
                            Água
                        </td>
                        <td align="center">
                            Opção
                        </td>
                    </tr>
                    </thead>
                {% for item in meses %}
                    <tr>
                        <td>
                            {{item.mes}}/{{item.ano}}
                        </td>
                        <td>
                            {{item.energia}} Kwh
                        </td>
                        <td>
                            {{item.agua}} Litros
                        </td>
                        <td>
                            <form action="/simular/algoritmos" method="GET">
                                <input type="text" name="casa_id" value="{{casa.id}}" hidden>
                                <input type="text" name="mes_id" value="{{item.id}}" hidden>
                                <button type="submit" class="btn btn-secondary">
                                    <i class="fas fa-check-circle"></i>
                                    Selecionar
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                {% if meses|length > 1 %}
                    <tr>
                        <td colspan="3">
                           Simular todos meses
                        </td>
                        <td colspan="1">
                            <a class="btn btn-secondary" href="#"> 
                                <i class="fas fa-check-circle"></i>
                                Selecionar
                            </a>
                        </td>
                    </tr>
                {% endif %}
            </table>
            {% else %}
                <label> Nenhum dado de teste gerado</label>
            {% endif %}
            <br>
            <a type="button" class="btn btn-warning"style="position: absolute; left: 10px;" href="/simular/casas/">
                <i class='fas fa-arrow-alt-circle-left'></i> Voltar
            </a>
            <br><br>
        </div>
    </div>
{% endblock %}