.button {
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: normal;
    font-size: 16px;
    border: none;
    width: 80%;
    min-width: 20px;
    height: 30%;
    min-height: 20px;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 3px;
    margin-right: 10px;
}

.button-small {
    width: 80px;
    height: 30px;
}

.button-gray {
    background-color: #ABABAB; 
    color: black;
}

.button-alert {
    background-color: #FFA500; 
    color: black;
}

.box-button {
    border-radius: 4px;
    width: 30%;
    min-width: 300px;
    height: 50%;
    min-height: 200px;
    display: inline-block;
    background-image: linear-gradient(to bottom right, #444444, #AAAAAA );
}

.box {
    border-radius: 8px;
    width: 20%;
    min-width: 50px;
    min-height: 200px;
    display: inline-grid;
    background-image: linear-gradient(to bottom right, #444444, #AAAAAA );
}

.box-form {
    align-content: flex-start;
    justify-content: start;
    border-radius: 8px;
    width: 35%;
    min-width: 400px;
    min-height: 150px;
    display: inline-grid;
    background-image: linear-gradient(to bottom right, #444444, #AAAAAA );
}

p {
    padding-left: 20px;
}

a {
    border-radius: 7px;
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }


input {
    border-radius: 7px;
}

textarea {    
    position: relative;
    left: 10px;
    top: 20px;
}