{% extends "model-page.html" %}

{% block content %}
<div align='center'>
    <h3> <i class="fa fa-exclamation-triangle"></i> Menu de configuração</h3><br>
    <div class="container">
        <div class="row">
            <div class="col col-6 col-sm-6 col-md-4 col-lg-5 col-xs-4 container box-gray">
                <br>
                <a type="button" class="btn btn-warning btn-block" href="/configurar/">
                    <i class="fas fa-bolt"></i> Categorias de recursos
                </a><br>
                <a type="button" class="btn btn-warning btn-block" href="/equipamentos/">
                    <i class="fas fa-desktop"></i> Equipamentos
                </a><br>
                <a type="button" class="btn btn-warning btn-block" href="/configurar/saida/">
                    <i class="fas fa-charging-station"></i> Terminais
                </a><br>
                <a type="button" class="btn btn-warning"style="position: absolute; left: 10px;" href="/">
                    <i class='fas fa-arrow-alt-circle-left'></i> Voltar
                </a><br><br>
            </div>
        </div>
    </div>
</div>
{% endblock %}