{% extends "model-page.html" %}

{% block content %}
<div align="center">
    <h2>Casas</h2>
    <table>
        <tr>
            <th>
                <button>
                    Cadastrar casa
                </button>
            </th>
            <th>
                <button>
                    Visualizar casas
                </button>
            </th>
        </tr>
        <tr>
            <th>
                <button>
                    Gerar teste
                </button>
            </th>
            <th>
                <button>
                    Simular teste
                </button>
            </th>
        </tr>
    </table>
</div>
{% endblock %}