{% extends "model-page.html" %}

{% block content %}
<div align="center">
    <h2><i class="fa fa-home"></i> Office</h2>
    <table class="table">
        <thead>
            <tr>
                <th style="padding-bottom: 10px;" colspan="2">Gerador de teste</th>
            </tr>
        </thead>
        <tr>
            <td>
                <a class="button button-gray">
                    Cadastrar casa
                </a>
            </td>
            <td>
                <a class="button button-gray" href="/listar/">
                    Visualizar casas
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="button button-gray">
                    Gerar teste
                </a>
            </td>
            <td>
                <a class="button button-gray">
                    Simular teste
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="button button-alert" href="/configurar/">
                    <i class="fa fa-exclamation-triangle"></i>
                        Configurar
                    <i class="fa fa-exclamation-triangle"></i>
                </a>
            </td>
        </tr>
    </table>
</div>
{% endblock %}