{% extends "model-page.html" %}

{% block content %}
<div align="center">
    <h2>Casas</h2>
    <table>
        <tr>
            <th>
                <button class="button button-gray">
                    Cadastrar casa
                </button>
            </th>
            <th>
                <button class="button button-gray">
                    Visualizar casas
                </button>
            </th>
        </tr>
        <tr>
            <th>
                <button class="button button-gray">
                    Gerar teste
                </button>
            </th>
            <th>
                <button class="button button-gray">
                    Simular teste
                </button>
            </th>
        </tr>
    </table>
</div>
{% endblock %}