{% extends "model-page.html" %}

{% block content %}
<div align='center' class="linha">
    <h2><i class="fa fa-gears"></i> Configuração</h2>
    <div class="box">
        <h3><i class="fa fa-wrench"></i> Categorias de consumo</h3>
        <form action="categorias/submit" method="POST"> {% csrf_token %}
            <label>Nome: </label>
            <input type="text" name="nome" maxlength="30"/> <br><br>
            <button class="button" type="submit">Salvar</button>
        </form>
        <br><br>
        {% for item in categorias %}
        <ul>
            <li>
                {{item.nome}}
                <a href="categorias/excluir/{{item.id}}/">excluir</a>
            </li>
        </ul>
        {% endfor %}
    </div>
    <div class="box">
        <h3><i class="fa fa-wrench"></i> Recurso consumido</h3>
        <form action="recursos/submit" method="POST"> {% csrf_token %}
            <label>Nome: </label>
            <input type="text" name="nome" maxlength="30"/> <br><br>
            <button class="button" type="recursos/submit">Salvar</button>
        </form>
        <br><br>
        {% for item in consumos %}
        <ul>
            <li>
                {{item.nome}}
                <a href="recursos/excluir/{{item.id}}/">excluir</a>
            </li>
        </ul>
        {% endfor %}
    </div>
    <div class="box">
        <h3><i class="fa fa-wrench"></i> Categoria de equipamento</h3>
        <form action="categoria/equipamento/submit" method="POST"> {% csrf_token %}
            <label>Nome: </label>
            <input type="text" name="nome" maxlength="30"/> <br><br>
            <button class="button" type="submit">Salvar</button>
        </form>
        {% for item in tipoEquipamentos %}
        <ul>
            <li>
                {{item.nome}}
                <a href="categoria/equipamento/excluir/{{item.id}}/">excluir</a>
            </li>
        </ul>
        {% endfor %}
    </div>
</div>
{% endblock %}