{% extends "model-page.html" %}

{% block content %}
<div align='center' class="container">
    <h2><i class="fas fa-laptop"></i>Equipamentos</h2><br>
    <div class="container">
        <div class="row">
            <div class="container col col-12 col-sm-12 col-md-5 col-lg-5 col-xs-5 box-gray">
            <br>
            <h4><i class="fas fa-tv"></i> Novo dispositivo</h4><br>
            <form action="submit" method="POST"> {% csrf_token %}
                {% if equipamento is None %}
                    <label >Nome: </label>
                    <input type="text" name="nome" maxlength="50" size="35" /><br><br>
                    <label>Energia por hora</label> 
                    <input type="number" name="energia" min="0" step="5" value="0"/> Kwh<br><br>
                    <label>Água por hora</label>
                    <input type="number" name="agua" min="0" step="5" value="0"/> Litros<br><br>
                    <label>O que é consumido: </label> 
                    <select name="consumo" value='1'>
                        {% for item in consumos %}
                            <option value={{ item.id }}> {{ item.nome }} </option>
                        {% endfor %}
                    </select><br><br>
                    <label>Qual a categoria: </label> 
                    <select name='tipoEquipamento' value='1'>
                        {% for item in tipoEquipamentos %}
                            <option value= {{ item.id }}> {{ item.nome }} </option>
                        {% endfor %}
                    </select><br><br>
                    <textarea name="descricao" rows="10" cols="50" maxlength="500" placeholder="Descrição"></textarea>            
                {% else %}
                    <input name="id" value='{{equipamento.id}}' hidden>
                    <label >Nome: </label>
                    <input type="text" name="nome" maxlength="50" size="35" value="{{equipamento.nome}}"/><br><br>
                    <label>Energia por hora</label> 
                    <input type="number" name="energia" min="0" step="5" value="{{equipamento.consumo_energia}}"/> Kwh<br><br>
                    <label>Água por hora</label>
                    <input type="number" name="agua" min="0" step="5" value="{{equipamento.consumo_agua}}"/> Litros<br><br>
                    <label>O que é consumido: </label>  
                    <select name="consumo">
                        {% for item in consumos %}
                            {% if item.id is equipamento.tipo_consumo.id %}
                                <option value= {{ item.id }} selected> {{ item.nome }} </option>
                            {% else %}
                                <option value= {{ item.id }}> {{ item.nome }} </option>
                            {% endif %}
                        {% endfor %}
                    </select><br><br>
                    <label>Qual a categoria: </label> 
                    <select name='tipoEquipamento'>
                        {% for item in tipoEquipamentos %}
                            {% if item.id is equipamento.tipo_equipamento.id %}
                                <option value= {{ item.id }} selected> {{ item.nome }} </option>
                            {% else %}
                                <option value= {{ item.id }}> {{ item.nome }} </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <textarea name="descricao" rows="10" cols="50" maxlength="500" placeholder="Descrição"></textarea>            
                {% endif %}
                <br><br><br>
                <button class="btn btn-secondary" style="width: 300px;" type="submit">Salvar</button>
                <br><br>
            </form>
            </div>
            {% if equipamentos %}
            <div class="container col col-12 col-sm-12 col-md-5 col-lg-5 col-xs-5 box-gray">
                <table class="table table-striped table-dark">
                    <br>
                    <thead>
                        <tr align="center">
                            <th colspan="3">
                                <i class="fas fa-tv"></i> Lista de dipositivos
                            </th>
                        </tr>
                    </thead>
                    {% for item in equipamentos %}
                        <tr>
                            <td>
                                {{item.nome}}
                            </td>
                            <td>
                                <a class="btn btn-secondary" href="?id={{item.id}}"> 
                                    <i class="fas fa-edit"></i> Editar
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-warning" href="excluir/{{item.id}}/">
                                    <i class="fas fa-exclamation-triangle"></i> Excluir
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}