{% extends "model-page.html" %}

{% block content %}
    <div align='center'>
        <br>
        <h3><i class="fas fa-stopwatch-20"></i> Temporizador </h3><br>
        <div class="container">
            <div class="row">
                <div class="col container box-gray">
                    <br>
                    <label>Tempo para proxima leitura  <span id="time"></span> minutos!</label>
                    <br>
                    <br>
                    {% if consumos.gastos %}
                        <table class="table table-striped table-dark">
                             <thead>
                                <tr align="center">
                                    <th>
                                        Data
                                    </th>
                                    <th>
                                        Hora
                                    </th>
                                    {% for titulo in consumos.titulos %}
                                        <th colspan="2">
                                            {{titulo}}
                                        </th>
                                    {% endfor %}
                                </tr>
                              <tr align="center">
                                    {% for titulo in consumos.subtitulo %}
                                        <th>
                                            {{titulo}}
                                        </th>
                                    {% endfor %}
                                </tr>
                             </thead>
                            {% for gastos in consumos.gastos %}
                                <tr>
                                    {% for item in gastos %}
                                        <td style="color: {{item.cor}};">
                                            {{item.gasto}}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                    <br>
                    <a type="button" class="btn btn-warning" style="position: absolute; left: 10px;" href="/simular/selecionar/voltar">
                        <i class='fas fa-arrow-alt-circle-left'></i> Voltar
                    </a><br><br>
                </div>
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
    window.onload = function () {
        var tempo = JSON.parse('{{ tempo|safe }}');
        var minutos = 60 * tempo,
            display = document.querySelector('#time');

        Timer(minutos, display);
    };

    function Timer(duracao, display) {
        var timer = duracao, minutos, segundos;
        setInterval(function () {
            minutos = parseInt(timer / 60, 10);
            segundos = parseInt(timer % 60, 10);

            minutos = minutos < 10 ? "0" + minutos : minutos;
            segundos = segundos < 10 ? "0" + segundos : segundos;

            display.textContent = minutos + ":" + segundos;

            timer = timer-9
            if (--timer < 0) {
                timer = duracao;

                ler_dados();
                window.location.reload(true);
            }
        }, 1000);
    }

    function ler_dados() {
        $.ajax({
            type: "get",
            url: "/simular/selecionar/leitura",
            dataType: "json"
        });
    }

</script>
{% endblock %}