{% extends "model-page.html" %}

{% block content %}
    <div align='center'>
        <br>
        <h3><i class="fas fa-home"></i> Regressão linear multipla </h3><br>
        <div class="container">
            <div class="row">
                <div class="col col-6 col-sm-6 col-md-4 col-lg-5 col-xs-4 container box-gray">
                    <br>
                    {% if executar %}
                        <label style="color: #ff4800">
                            <i class="fas fa-exclamation-triangle"></i>
                            Ação nescessária: A regrassão linear multipla estabelece os parametros
                            que o algoritmo genetico ira seguir, por favor crie pelo menos 1 grupo de 
                            coeficientes com algorimo de regressão
                            <i class="fas fa-exclamation-triangle"></i>
                        </label>
                    {% else %}
                        {% if grupos != None %}
                            <strong>Coeficientes</strong>
                            <form action="/genetico/novos" method="POST"> {% csrf_token %}
                                <input type="text" name="casa_id" value="{{casa.id}}" hidden>
                                <input type="text" name="mes_id" value="{{mes.id}}" hidden>
                                <br>
                                <div class="form-group">
                                    <select class="form-control" name="grupo_id">
                                        {% for item in grupos %}
                                            <option value={{item.id}}>
                                                {{item.gerador}}
                                                acerto {{item.precisao}}% |
                                                Energia semana {{item.reduzir_energia_semana }}
                                                Energia final de semana {{item.reduzir_energia_feriado}} | 
                                                Agua semana {{item.reduzir_agua_semana }}
                                                Agua final de semana {{item.reduzir_agua_feriado}}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <br>
                                <button type="submit" name="acao" value="0"  type="button" class="btn btn-warning btn-block">
                                    <i class="fas fa-dna"></i> Gerar todos genes novos
                                </button><br>
                                <button type="submit" name="acao" value="1"  class="btn btn-warning btn-block">
                                    <i class="fas fa-dna"></i> Gerar com um gene anterior
                                </button><br>
                                <button type="submit" name="acao" value="10" class="btn btn-warning btn-block">
                                    <i class="fas fa-dna"></i> Gerar com 10 genes anteriores
                                </button>
                            </form> 
                        {% endif %}
                        <br><hr>
                    {% endif %}
                    <br>
                    <a type="button" class="btn btn-warning" style="position: absolute; left: 10px;" href="/simular/algoritmos/?casa_id={{casa.id}}&mes_id={{mes.id}}">
                        <i class='fas fa-arrow-alt-circle-left'></i> Voltar
                    </a><br><br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}