{% extends "model-page.html" %}

{% block content %}
    <div align='center'>
        <br>
        <h3><i class="fas fa-home"></i> Seleção dos coeficientes </h3><br>
        <div class="container">
            <div class="row">
                <div class="col col-6 col-sm-6 col-md-4 col-lg-5 col-xs-4 container box-gray">
                    <br>
                    <strong style="float: left;">Nome: {{casa.nome}} </strong>
                    <br>
                    <strong style="float: left;">Mes: {{mes.mes}} </strong>
                    <br>
                    <strong style="float: left;">Energia mes: {{mes.energia}} Kwh </strong>
                    <strong >Água mes: {{mes.agua}} Litros</strong>
                    <br>
                    {% if mes.categoria != None %}
                        <hr><br>
                        <button type="submit" class="btn btn-warning btn-block">
                            <i class="fas fa-wave-square"></i> Gerar coeficiente
                        </button>
                    {% endif %}
                    <hr>
                    <a type="button" class="btn btn-warning"style="position: absolute; left: 10px;" href="/simular/algoritmos/?casa_id={{casa.id}}&mes_id={{mes.id}}">
                        <i class='fas fa-arrow-alt-circle-left'></i> Voltar
                    </a><br><br>
                </div>
                <div class="col col-6 col-sm-6 col-md-4 col-lg-5 col-xs-4 container box-gray">
                    <br>
                    {% if categorias == None %}
                        <label style="color: #ff4800">
                            <i class="fas fa-exclamation-triangle"></i>
                            Ação nescessária
                            <i class="fas fa-exclamation-triangle"></i>
                        </label>
                    {% else %}
                        <label style="color: #30d646">
                            <i class="fas fa-check-circle"></i>
                            Etapa realizada
                            <i class="fas fa-check-circle"></i>
                        </label>
                    {% endif %}
                    <form action="/regressao-linear-multipla/coeficiente/categorizar" method="GET">
                        <div align="center">
                            <strong>Reduzir energia </strong>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>Semana </label>
                                <input type="number" name="energia_semana" value="{{reduzir.energia_semana}}" min="{{energia_semana}}" max="{{mes.energia_semana}}" required/> kWh
                            </div>
                            <div class="col">
                                <label> Fim de semana </label>
                                <input type="number" name="energia_final" value="{{reduzir.energia_feriado}}" min="{{energia_feriado}}" max="{{mes.energia_feriado}}"  required/> kWh
                            </div>
                        </div><br>
                        <div align="center">
                            <strong>Reduzir água </strong>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>Semana </label>
                                <input type="number" name="agua_semana" value="{{reduzir.agua_semana}}" min="{{agua_semana}}" max="{{mes.agua_semana}}" required/> 
                                Litros
                            </div>
                            <div class="col">
                                <label> Fim de semana </label>
                                <input type="number" name="agua_final" value="{{reduzir.agua_feriado}}" min="{{agua_feriado}}" max="{{mes.agua_feriado}}" required/>
                                Litros
                            </div>
                        </div><br>
                        <button type="submit" class="btn btn-warning btn-block">
                            <i class="fas fa-layer-group"></i> Categorizar
                        </button>
                    </form>
                    <br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}