{% extends "model-page.html" %}

{% block content %}
    <div align='center'>
        <br>
        <h3><i class="fas fa-home"></i> Regressão linear multipla </h3><br>
        <div class="container">
            <div class="row">
                <div class="col col-6 col-sm-6 col-md-4 col-lg-5 col-xs-4 container box-gray">
                    <br>
                    {% if executar %}
                        <label style="color: #ff4800">
                            <i class="fas fa-exclamation-triangle"></i>
                            Ação nescessária
                            <i class="fas fa-exclamation-triangle"></i>
                        </label>
                    {% else %}
                        <label style="color: #30d646">
                            <i class="fas fa-check-circle"></i>
                            Etapa realizada
                            <i class="fas fa-check-circle"></i>
                        </label>
                    {% endif %}
                    <form action="/regressao-linear-multipla/coeficiente/categorizar" method="GET">
                        <div align="center">
                            <strong>Reduzir energia </strong>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>Semana </label>
                                <input type="number" name="energia_semana" value="{{reduzir.energia_semana}}" min="{{reduzir.energia_semana_min}}" max="{{reduzir.energia_semana}}" required/>
                                <label> kWh </label>
                            </div>
                            <div class="col">
                                <label> Fim de semana </label>
                                <input type="number" name="energia_final" value="{{reduzir.energia_feriado}}" min="{{reduzir.energia_feriado_min}}" max="{{reduzir.energia_feriado}}"  required/>
                                <label> kWh </label>
                            </div>
                        </div><br>
                        <div align="center">
                            <strong>Reduzir água </strong>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>Semana </label>
                                <input type="number" name="agua_semana" value="{{reduzir.agua_semana}}" min="{{reduzir.agua_semana_min}}"  max="{{reduzir.agua_semana}}" required/>
                                <label> Litros </label>
                            </div>
                            <div class="col">
                                <label> Fim de semana </label>
                                <input type="number" name="agua_final" value="{{reduzir.agua_feriado}}" min="{{reduzir.agua_feriado_min}}" max="{{reduzir.agua_feriado}}" required/>
                                <label> Litros</label>
                            </div>
                        </div><br>
                        <button type="submit" class="btn btn-warning btn-block">
                            <i class="fas fa-layer-group"></i> Categorizar
                        </button>
                    </form>
                    <br>
                    <a type="button" class="btn btn-warning"style="position: absolute; left: 10px;" href="/simular/algoritmos/?casa_id={{casa.id}}&mes_id={{mes.id}}">
                        <i class='fas fa-arrow-alt-circle-left'></i> Voltar
                    </a><br><br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}