{% extends "model-page.html" %}

{% block content %}
    <div align='center'>
        <br>
        <h3><i class="fas fa-home"></i> Resultados</h3><br>
        <div class="container">
            <div class="row">
                <div class="col col-6 col-sm-6 col-md-4 col-lg-6 col-xs-4 container box-gray">
                   <br>
                        <table class="table table-striped table-dark">
                            <thead>
                                <tr align="center">
                                    <th colspan="3">Dados Regressão linear multipla</th>
                                </tr>
                                <tr align="center">
                                    <th colspan="3">Tempo de treino {{regressao.treino}}</th>
                                </tr>
                                <tr align="center">
                                    <th>Mes</th>
                                    <th>precisão</th>
                                    <th>Tempo</th>
                                </tr>
                             </thead>
                            {% for item in regressao.lista %}
                                <tr>
                                    <td>
                                        {{item.mes}} 
                                    </td>
                                    <td>
                                        {{item.precisao}} %
                                    </td>
                                    <td>
                                        {{item.tempo}} 
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>  
                    <br>
                    <a type="button" class="btn btn-warning" style="position: absolute; left: 10px;" href="/simular/selecionar/coeficientes?casa_id={{casa.id}}&meta_id={{meta.id}}">
                        <i class='fas fa-arrow-alt-circle-left'></i> Voltar
                    </a><br><br>
                </div>
                <div class="col col-6 col-sm-6 col-md-4 col-lg-6 col-xs-4 container box-gray">
                    <br>
                        <table class="table table-striped table-dark">
                            <thead>
                                <tr align="center">
                                    <th colspan="5">Dados Algoritmo genetico</th>
                                </tr>
                                <tr align="center">
                                    <th colspan="3">Tempo de treino {{genetico.treino}}</th>
                                </tr>
                                <tr align="center">
                                    <th>Mes</th>
                                    <th>precisão</th>
                                    <th>Tempo</th>
                                </tr>
                             </thead>
                            {% for item in genetico.lista %}
                                <tr>
                                    <td>
                                        {{item.mes}} 
                                    </td>
                                    <td>
                                        {{item.precisao}} %
                                    </td>
                                    <td>
                                        {{item.tempo}} 
                                    </td>
                                </tr>
                            {% endfor %}
                         </table>  
                     <br>
                 </div>
            </div>
            <div class="row">
                <div id="container" style="width: 75%;">
                    <canvas id="productsChart" width="200" height="150"></canvas>
                </div>
            </div>
            <hr>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
        var ctx = document.getElementById("productsChart");
        var meses = JSON.parse('{{ meses|safe }}');
        var mlr = JSON.parse('{{ grafico_comp_regressao|safe }}');
        var gen = JSON.parse('{{ grafico_comp_generico|safe }}');
        
        var productsChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: meses,
                datasets: [{
                    label: 'Regressao multi-lenar',
                    data: mlr,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                        'rgba(255,99,132,1)',
                    ],
                    borderWidth: 1
                },
                {
                    label: 'Algoritmo genetico',
                    data: gen,
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
        </script>
{% endblock %}