{% extends "model-page.html" %}

{% block content %}
    <div align='center'>
        <br>
        <h3><i class="fas fa-home"></i> Comparação </h3><br>
        <div class="container">
            <div class="row">
                <div class="col col-6 col-sm-6 col-md-4 col-lg-8 col-xs-4 container box-gray">
                    <br><br>
                    <strong>Regressão linear multipla</strong><br>
                    <label>
                        Regressão linear multipla {{regressao.id}} com precisão {{regressao.precisao}}%
                    </label><br>
                    {% if genetico %}
                        <form action="#" method="GET">
                            <input type="text" name="casa_id" value="{{casa.id}}" hidden>
                            <input type="text" name="meta_id" value="{{item.id}}" hidden>
                            <input type="text" name="mlr_id" value="{{regressao.id}}" hidden>
                            <select class="form-control" name="genetico_id" value='1'>
                                {% for item in genetico %}
                                    <option value={{ item.id }}> {{item.precisao}}
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-secondary">
                                <i class="fas fa-check-circle"></i>
                                Selecionar
                            </button>
                        </form>
                    {% else %}
                    <label>Nenhuma constante gerada para esta meta com algortimo genetico</label>
                    {% endif %}
                    <br>
                    <a type="button" class="btn btn-warning" style="position: absolute; left: 10px;" href="/simular/selecionar/meta?casa_id={{casa.id}}">
                        <i class='fas fa-arrow-alt-circle-left'></i> Voltar
                    </a><br><br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}