{% extends "model-page.html" %}

{% block content %}
<div align='center'>
    <h2><i class='fa fa-home'></i> Cadastro da casa</h2>
    <div class="box-form">
        <br>
        <form action="submit" method="POST"> {% csrf_token %}
            {% if etapa == 0 %}
                <p class="tab">
                    <label>Nome da casa: </label>
                    <input type="text" name="nome" maxlength="50" size="30"/>
                </p>
            {% endif %}
            <br><br>
        </form>
        <div align='center'>
            <a style="margin-left: 100px;" href="/cadastrar/voltar">
                Voltar
            </a>
            <a style="margin-left: 100px;" href="/cadastrar/avancar">
                Avançar
            </a>
        </div>
    </div>
</div>
{% endblock %}