{% extends "model-page.html" %}

{% block content %}
<div align='center'>
    <h2><i class="fas fa-link"></i> Vincular terminais com comodos</h2>
    <div class="container">
        <div class="row">
            <div class="col col-6 col-sm-6 col-md-4 col-lg-5 col-xs-4 container box-gray">
                <br><br>
                {% if comodos%}
                <table class="table table-striped table-dark">
                    <thead>
                        <tr align="center">
                            <th colspan="2">Comodos cadastradas</th>
                        </tr>
                    </thead>
                    {% for item in comodos %}
                        <tr>
                            <td>
                                {{item.nome}}
                            </td>
                            <td>
                                <form action="/cadastrar/vincular/comodo/saida" method="GET">
                                    <input type="text" name="comodo_id" value="{{item.id}}" hidden>
                                    <button type="submit" class="btn btn-secondary">
                                        <i class="fas fa-check-circle"></i>
                                        Selecionar
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% else %}
                <label>Nenhum comodo cadastrado</label>
                {% endif %}
                <br>
                <a type="button" class="btn btn-warning" style="position: absolute; left: 10px;" href="/cadastrar/voltar/?id={{casa.id}}">
                    <i class='fas fa-arrow-alt-circle-left'></i> Voltar
                </a>
                <br><br>
            </div>
        </div>
    </div>
</div>
{% endblock %}