{% extends "model-page.html" %}

{% block content %}
<div align='center'>
    <br>
    <h3><i class='fa fa-home'></i> Gerenciar: {{casa.nome}}</h3><br>
    <div class="container">
        <div class="row">
            <div class="col col-6 col-sm-6 col-md-4 col-lg-5 col-xs-4 container box-gray">
                <br>
                <label>Adicionar: </label>
                <br>
                <form action="/cadastrar/novo/comodo" method="GET">
                    <input type="text" name="id" value="{{casa.id}}" hidden>
                    <button type="submit" class="btn btn-secondary btn-lg btn-block">
                        <i class='fa fa-bed'></i> Novo comodo 
                    </button>
                </form>
                <br>
                <form action="/cadastrar/vincular/saida" method="GET">
                    <input type="text" name="id" value="{{casa.id}}" hidden>
                    <button type="submit" class="btn btn-secondary btn-lg btn-block">
                        <i class='fa fa-wrench'></i> Vincular comodo e saida
                    </button>
                </form>
                <br>
                <a type="button" class="btn btn-secondary btn-lg btn-block" href="/cadastrar/vincular/equipamento/?id={{casa.id}}">
                    <i class="fas fa-desktop"></i> Vincular equipamentos
                </a>
                <br>
                <a type="button" class="btn btn-warning" style="position: absolute; left: 10px;" href="/listar/">
                    <i class='fas fa-arrow-alt-circle-left'></i> Voltar
                </a>
                <br><br>
            </div>
        </div>
    </div>
</div>
{% endblock %}